@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    background: rgb(10, 10, 10);
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 174, 218);
}

#decision {
    font-size: 44px;
}

.fa-spinner {
    margin-top: 10px;
}

.content {
    width: 50%;
}

#url {
    width: 100%;
    border-radius: 3px;
}

.created {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    text-align: center;
}

.img-container {
    height: 25vh;
    padding-top: 20px;
}

#image {
    max-width: 100%;
    max-height: 100%;
}

.links {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.file {
    display: flex;
    justify-content: space-between;
}

button {
	background-color:rgb(0, 174, 218);
    border-radius: 3px;
    cursor: pointer;
    color: white;
	border: 1px solid rgb(0, 174, 218);
	padding: 9px 23px;
}